body, html {
    margin: 0;
    background: #E1F7DB;
}

.success, .error {
color: #fff;
padding: 5px;
margin: 5px 0 15px 0;
}

.success {
    background: #4BB543;
}

.error {
    background: #F00;
}

